.quiz-page {
  .question-container {
    // outline: 1px solid black;

    width: 60%;
    h1.question-title {
      text-align: center;
      margin-top: 20px;
      font-size: 2.5rem;
    }
    p.question-text {
      font-size: 1.5rem;
      font-weight: bold;
    }

    // ANSWERS

    .answers-container {
      display: flex;
      flex-wrap: wrap;

      .single-answer {
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 15px;
        text-align: center;

        // outline: 1px solid black;
        display: flex;
        justify-content: space-between;

        button {
          background-color: transparent;
          padding: 10px 10px;
          display: block;
          width: calc(100% - 46px);
          border-radius: 15px;

          font-family: Signika Negative, serif;
          font-size: 1.2rem;

          transition: all 0.3s linear;

          cursor: pointer;

          border: 3px solid black;
          &:hover {
            background-color: rgb(181, 207, 13);
          }

          &.correct-answer {
            background-color: rgb(103, 255, 1);
          }
          &.incorrect-answer {
            background-color: red;
          }
        }
        & > img {
          width: 43px;
          visibility: hidden;
          align-self: center;
          &.visible {
            visibility: visible;
          }
        }
        &:nth-of-type(2n-1) {
          margin-right: auto;
        }
        &:nth-of-type(2n) {
          // margin-left: calc(5% + 50px);
          margin-right: 3px;
        }
      }
    }

    // Tacno/netacno i opis odgovora
    h2.correct-heading {
      text-align: center;
    }
    p.question-explanation {
      text-align: center;
    }
  }
}
