@use './quizz-settings';
@use './question';
@use './timer';
.quiz-page {
  min-height: 100vh;

  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-top: 20%;

  .progress-heading {
    margin-bottom: 10px;
    font-size: 2rem;
  }
  .accuracy-heading {
    font-size: 1.8rem;
  }

  .quizz-navigation-container {
    margin-top: 10px;
    width: 100%;
    text-align: center;

    position: relative;

    & > button {
      display: block;
      margin: 0 auto;
      width: 20%;

      padding: 20px 10px;
      background-color: transparent;
      cursor: pointer;

      color: black;
      border: 2px solid black;
    }
    #restart-quizz {
      position: absolute;
      left: 20%;
      top: 0%;

      // transform: translateY(-50%);

      display: flex;
      align-items: center;

      cursor: pointer;
      & > img {
        margin-right: 6px;
        width: 40px;
      }
    }
  }
}
